# Ignore Gradle project-specific cache directory
.gradle

# Ignore IntelliJ IDEA directory
.idea

# Ignore Visual Studio Code directory
.vscode

# Ignore output directories that contain generated results
evm-outputs/
test-ground-truth-stats/
evm-testcases/ground-truth/test-ground-truth-results/logs.txt
evm-testcases/ground-truth/test-ground-truth-results/statistics.csv
evm-testcases/ground-truth/test/*

# Ignore benchmark results
# SolidiFI reentrancy
scripts/python/journal/reentrancy-solidifi/results/
scripts/python/journal/reentrancy-solidifi/json/
scripts/python/journal/reentrancy-solidifi/bytecode/
scripts/python/journal/vanilla-solidifi/results/
scripts/python/journal/vanilla-solidifi/json/
scripts/python/journal/vanilla-solidifi/bytecode/

# smartbugs reentrancy
scripts/python/journal/reentrancy-smartbugs/results/
scripts/python/journal/reentrancy-smartbugs/json/
scripts/python/journal/reentrancy-smartbugs/bytecode/

# SliSE reentrancy
scripts/python/journal/reentrancy-slise-db1/results/
scripts/python/journal/reentrancy-slise-db1/json/
scripts/python/journal/reentrancy-slise-db1/bytecode/
scripts/python/journal/reentrancy-slise-db1/match-file-index.json

# SolidiFI tx-origin
scripts/python/journal/tx-origin-solidifi/results/
scripts/python/journal/tx-origin-solidifi/json/
scripts/python/journal/tx-origin-solidifi/bytecode/

scripts/python/journal/execution/
scripts/python/journal/images/
scripts/python/journal/DAppSCAN/
scripts/python/journal/SliSE/

# Ignore downloaded bytecode
evm-testcases/benchmark/

# Ignore Gradle build output directory
build

.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.DS_Store
execution/
.env

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
