# Ignore Gradle project-specific cache directory
.gradle

# Ignore IntelliJ IDEA directory
.idea

# Ignore Visual Studio Code directory
.vscode

# Ignore output directories that contain generated results
evm-outputs/
test-ground-truth-stats/
evm-testcases/ground-truth/test/logs.txt
evm-testcases/ground-truth/test/statistics.csv
script-python/journal/reentrancy/results/
script-python/journal/reentrancy/json/
script-python/journal/execution/
script-python/journal/vanilla/results/
script-python/journal/vanilla/json/

# Ignore downloaded bytecode
evm-testcases/benchmark/

# Ignore Gradle build output directory
build

.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.DS_Store
execution/
.env

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
