<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="DefaultLoggingConf">
	<Appenders>
		<Console name="console">
			<PatternLayout pattern="%d [%highlight{%level}{FATAL=red, ERROR=red, WARN=red, INFO=green, DEBUG=blue, TRACE=yellow}] [%C{1}] %m %ex%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="it.unipr.frontend" level="DEBUG" />
		<Logger name="org.reflections" level="ERROR" />
		
		<Root level="DEBUG">
			<AppenderRef ref="console" level="DEBUG"/>
		</Root>
	</Loggers>
</Configuration>