name: 'Docker build image'

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t evm-lisa:ci .

      - name: Remove Docker image
        run: docker rmi evm-lisa:ci
