name: 'Gradle Build (non-master branch)'

on:
  push:
    branches-ignore:
      - 'master'

jobs:
  compile-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: 'Set up JDK 21'
      uses: actions/setup-java@v1
      with:
        java-version: 21
    - name: 'Grant execute permission for gradlew'
      run: chmod +x gradlew
    - name: 'Gradle: compile and run unit tests'
      run: ./gradlew test
